a.reset {
  border: 1px dashed #777;
  padding: 0.1em 0.5em;
  margin: 0.25em;
  border-radius: 0.5em;
  background: #eee;
  font-weight: bold;
  font-size: 0.625em;
  text-decoration: underline;
}
#resetAll > a {
  border: 1px dashed #777;
  padding: 5px;
  margin: 9px;
  border-radius: 0.5em;
  background: #fff;
  color: #337ab7;
  font-weight: bold;
  text-decoration: underline;
}
#resetAll > a:hover, #resetAll > a:focus {
  color: #23527c;
}

a.reset {
  cursor: pointer;
}

rect[width="0"] + text {
    opacity: 0.25;
    pointer-events: none;
}

.row div.border {
  border: 1px dashed lightgrey;
  background: white;
  margin: 2px;
}
body { background:#eee; padding-top: 65px}

.dc-chart g.row text, .dc-chart .pie-slice {
    fill: #000;
}

.reset {
  float: right;
}

.dc-chart {
  overflow: hidden;
}

#agency legend, #subcosts legend, #fte_expenditure legend {
  margin-bottom: 0;
}
#agency > div, #fte_expenditure > div {
  text-align: center;
}
#agency > div > small.h5, #fte_expenditure > div > small.h5 {
  font-weight: bold;
  text-decoration: underline;
}

.dc-legend-item {
    cursor: pointer;
}

#agency g.row text, #subcosts g.row text {
  font-size: inherit;
  font-weight:bold;
  fill: white;
}

body > .container-fluid > .row > div.col-xs-12:not(:first-child) {
  margin-top: 15px
}

.dc-legend-item.disabled {
  fill:grey;
  pointer-events: none;
}






body#dark {
  background: #444444;
}
#dark #resetAll > a, #dark a.reset {
  background: #444444;
  border-color:#101010;
}
#dark .row div.border {
  border-color:#101010;
  background: rgba(0, 0, 0, 0.125);
}
#dark legend, #dark small.h5 {
  color: #fefefe;
}
#dark .dc-chart rect.deselected, #dark .dc-chart path.deselected {
    stroke: none;
    fill: #000;
    opacity: 0.25;
}
#dark rect.deselected + text {
  opacity: 0.25
}
#dark .axis text {
    fill: #fefefe;
}
#dark .dc-chart .axis path, #dark .dc-chart .axis line {
  stroke: #666;
}
